.allItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-height: 300px; */
    /* overflow:auto; */
    padding: 30px;
}

.allItems .noTasks {
    color: #ff0000;
    font-weight: 500;
    text-shadow: 0px 0px 22px #ff00007d;
    transition: all 200ms ease;
    cursor:default;
}
.allItems .noTasks:hover {
    text-shadow: 0px 0px 22px #ff0000;
}